.container {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #f9f9f9;
  margin: 0 auto;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12),
    0 16px 16px rgba(0, 0, 0, 0.12);
}

.inner-container {
  padding: 0em 2em;
}

@media screen and (max-width: 599px) {
  .inner-container img {
    max-width: 50%;
  }
}

.container h1 {
  border-bottom: 2px solid black;
}

.container li {
  padding: 0;
  list-style: none;
  border-bottom: 1px dashed #ffa751;
  text-align: left;
}

.container li img {
  padding-bottom: 15px;
}

.container ul {
  padding: 0;
}

.container h1,
h4 {
  font-family: "Francois One", sans-serif;
}
