.search {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  grid-template-areas: "search find shuffle";
  padding-bottom: 40px;
  align-items: center;
}

.search svg {
  width: 25px;
  height: 25px;
  background-color: white;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12),
    0 16px 16px rgba(0, 0, 0, 0.12);
}

.search svg:hover {
  background-color: black;
  fill: white;
  stroke: white;
  transition: all 0.25s;
}

.one circle:hover {
  stroke: white;
}

.search form {
  grid-area: search;
}

.one {
  grid-area: find;
}

.two {
  grid-area: shuffle;
}

.search input[type="text"] {
  padding: 10px;
  border: none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12),
    0 16px 16px rgba(0, 0, 0, 0.12);
  width: 300px;
  transition: background-color;
  transition-timing-function: ease-in;
  transition-duration: 0.25s;
}

input:focus {
  background-color: black;
  color: white;
  border: 2px solid white;
  transition: background-color;
  transition-timing-function: ease-in;
  transition-duration: 0.25s;
}
